{% raw -%}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta name="theme-color" content="#fafafa">
  {% if settings.ANALYTICS_GTAG %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.ANALYTICS_GTAG }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ settings.ANALYTICS_GTAG }}');
    </script>
  {% endif %}
</head>
<body>
<h1>Hello World!</h1>
</body>
{% endraw -%}
